*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 1.1;
    font-weight: 300;
    line-height: 1.4;
}

.front-page{
    display: flex;
}

.navigation{
    width: 7%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    margin-right: 20px;

}

.navigation .center {
    display: grid;
    place-items: center;
    text-align: center;
    gap: 20px;
}

.navigation .center p{
    font-size: 10px;
}

.content{
    display: flex;
    flex-direction: column;

}

.content .top{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
    max-width: 1200px;
    /* margin: 0 auto; */
}

.content .top .yt-logo img{
    width: 90px;
    height: 25px;
}

.search{
    display: flex;
    gap: 0px;
}

.search .search-bar{
    padding-top: 2px;

}

.search-icon{
    padding-top: 2px;
}



.search-icon img{
    background-color: #ebebeb;
    /* padding: 2px; */
    /* border: 1px solid black; */
    width: 28px;
    height: 28px;

}

.search-bar input{
    font-size: 23px;
    min-width: 600px;
    border: 0.5px solid #ccc;
}

.mic{
    margin-left: 16px;
}

.mic img{
    background-color: #ebebeb;
    border: 1px solid black;
    border-radius: 50%;
    padding: 3px;
}


.avatar{
    display: flex;
    justify-content: space-between;
    gap: 25px;
    margin-top: -2px;
}

.filter{
    display: flex;
    gap: 20px;
    padding: 5px;
}

.filter div{
    border: 1px solid black;
    border-radius: 40%;
    height: 26px;
    width: 54px;
    text-align: center;
    padding-bottom: 2px;
}

.filter p{
font-size: 14px;
    padding: 2px;
}

.filter .select{
    background-color: black;
    color: white;
}

.filter .unselect{
    background-color: #ebebeb;
}


.thumbnails{
    background-color: #ebebeb;
    display: flex;
    gap: 20px;
    padding: 10px;
    flex-wrap: wrap;
}

.thumbnail{
    height: 36vh;
    width: 20vw;
}

.thumbnail-img img{
    height: 24vh;
    width: 21vw;

}

.flex1{
    display: flex;
    gap: 5px;
}

.flex1-content{
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.flex1-content h4{
    white-space: initial;
    font-size: 14px;
}

.flex1-content p{
    white-space: initial;
    font-size: 13px;
}

@media (max-width:786px){

    .navigation{
        padding-left: 1px;
        margin-right: 20px;
    }

    .thumbnail{
        min-height: 200px;
        min-width: 200px;
    }

    .thumbnail-img img{
        height: 100%;
        width: 100%;
    }

    .search-bar input{
        font-size: 23px;
        min-width: 300px;
    }
    

}   